body{
    overflow: hidden;
    background:#1a1a1a;
    margin: 0;
    font-family: 'SystemFont_Header';
}

@font-face{
    font-family: 'SystemFont_Header';
    src: url('../fonts/Karla-Regular.ttf')  format('truetype');
}


#header{
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.92);
    transition: all .5s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100px;
    transition: all .2s ease-in-out;
    z-index: 5;
}

#header #header_logo{
    z-index: 1;
    position: fixed;
}
#header #header_logo img{
    width: auto;
    height: 60px;
    margin-left: 16px;
}

#header #nav_header{
    transition: all .2s ease-in-out;
    margin: 10px;
    font-size: 18px;
    font-family: 'SystemFont_Header';
}


#header #nav_header a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 16px;
    transition: all .3s ease-in-out;
}



#header #nav_header a:hover{
    color: darkgray;
    transition: all .2s ease-in-out;
}


#con {
    overflow-y: auto;
    position: relative;
    padding-top: 100px;
    background:lightblue;
    width: 100%;    
    height: 100%;    
    min-height: 500px;    
    text-align: center;    
}
