body{
    overflow: hidden;
    background:#1a1a1a;
    margin: 0;
    font-family: 'SystemFont_Header';
}

@font-face{
    font-family: 'SystemFont_Header';
    src: url('../fonts/Karla-Regular.ttf')  format('truetype');
}


#header{
     box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.92);
    transition: all .5s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100px;
    transition: all .2s ease-in-out;
    z-index: 5;
}

#header #header_logo{
    z-index: 1;
    position: fixed;
}
#header #header_logo img{
    width: auto;
    height: 60px;
    margin-left: 16px;
}

#header #nav_header{
    transition: all .2s ease-in-out;
    margin: 10px;
    font-size: 18px;
    font-family: 'SystemFont_Header';
}


#header #nav_header a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 16px;
    transition: all .3s ease-in-out;
}


strike , price{
    width: 100%;
    color: gray;
    font-size: 16px;
    float: left;
}
price{
    color: black;
    font-size: 20px;
    margin-bottom: 16px;
}


#header #nav_header a:hover{
    color: darkgray;
    transition: all .2s ease-in-out;
}

/*
#nav:hover{
width: 15%;
transition: all .3s ease-in;
}


#nav:hover #navholder a{
-webkit-animation:fading .5s;
animation:fading .5s;
opacity: 1;
}
*/

#con {
    background:#f2f2f2;
    width: 100%;
    margin-left: 2.3%;
    height: 100%;
    float: right;
    transition: all .3s ease-in-out;
}

/*#nav:hover +#con{
width: 85%;
transition: all .3s ease-in-out;
}*/
/*
#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 10%;
min-height: 30px;
background-color: 282829;
clear: both;
z-index: 3;
}*/


#con iframe{
    border: none;
}


@-webkit-keyframes fading{
    0%{
        display: none;
    }
    100%{
        display: block;
    }
}

@keyframes fading{
    0%{
        display: none;
    }100%{
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #header{
        height: 80px;
    }
    #header:hover{
        box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.05);
        background: rgba(255, 255, 255, 0.98);
        transition: all .5s ease-in-out;
        position: fixed;
        width: 100%;
        height: 250px;
        transition: all .2s ease-in-out;
    }
    #header:hover #nav_header{
        opacity: 1;
    }
    #header #nav_header{
        opacity: 0;
    }

    #header #nav_header a{

        text-decoration: none;
        clear: both;
        float: left;
        color: black;
        cursor: pointer;
        margin-left: 16px;
        transition: all .3s ease-in-out;

    }

}

a{
    cursor: pointer;
}
