#con{
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 100px;
    position: relative;
    background: white;
}

#con #homepage{
    position: relative;
    height: 450px;
}

#con #container:hover{
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    transition: all .3s ease-in-out;
}

#con #homepage #foreground{
    position: absolute;
}

#con #homepage #foreground img{
    margin: 32px;
    position: relative;
    height: 200px;
}
#con #homepage #background{
    width: 100%;
    height: inherit;
    text-align: center;
    background: #1a1a1a;
}


#con #homepage #background img{
    width: auto;
    height: inherit;
}


#row, #row_sale{
    clear: both;
    margin-bottom: 100px;
    background: white;
}

#row #container{
    height: 250px;
    width: auto;
    float: left;
    margin: 16px;
    position: relative;
}

#row #container{    
    border-radius: 5px;
    height: 300px;
    width: 300px;
    max-width: 100%;
    max-height: auto;
    float:  left;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}

#con #container #info{    
    z-index: 3;
    opacity: 1;
    margin:16px;
    position: absolute;
}

#con #container #info strike , price{
    font-family: 'SystemFont_Header';
    color: gray;
    font-size: 16px;
    width: 100%;
    float: left;
}
#con #container #info price{
    color: black;
    margin-bottom: 16px;
    font-size: 20px;
}



#con #container #info h2{
    -webkit-animation:fading 3s;
    animation:fading 3s;
    color: black;
    font-family: sans-serif;
    min-width: 20%;
    text-align: left;
    font-size: 16px;
    width: 70%;
    min-height: auto;    
    margin-bottom: 24px;    
}

#con #container #info a{          
    cursor: pointer;
    animation:fading 3s;
    padding: 12px;
    border-radius: 15px;
    background: black;
    text-decoration: none;
    color:white;
    font-family: 'SystemFont_Header';
    font-size: 16px;
    transition: all .4s ease-in-out;
}

#con #container #info a:hover{
    background: gold;
    color:black;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
}


#con #container img{
    z-index: 1;
    object-fit: cover;
    border-radius: 2px;    
    /*max-width: 350px;
    max-height: auto;
    min-width: 20%;
    min-height: auto;*/
    width: inherit;
    height: 100%;    
    transition: all .3s ease-in-out;
}

#footer {
    padding-left: 16px;
    width: 100%;
    height: 10%;
    min-height: 30px;
    background-color: 282829;
    clear: both;
}
#footer a{
    margin:16px;
    float: left;
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

#footer img{
    height:100%;
    width:auto;
    float:left;
    float: left;
}
@media screen and (max-width: 500px) {
    #con #homepage #background img{
        display: none;
    }

    #con #homepage{
        text-align: center;
        height: 50%;
    }
    #con #homepage #background{
        height: 100%;
        display: inline-block;
    }
    #con #homepage #foreground img{
        margin: 10px;
        height: auto;
        width: 90%;
        display: inline-block;
    }

}

