
#con {
    overflow-y: auto;    
}

#prod_con_div{    
    padding: 16px;
    padding-top: 116px;
    overflow-y: auto;
    width: 100%;
}

#prod_item_div{    
    margin-left: 10px;
    font-family: 'SystemFont_Header';
    width: 90%;
    height: 100px;
    padding: 16px;
    background: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

#prod_item_div #summary_div h1,h2{
    font-size: 20px;
    width: auto;
    float: left;
}

#prod_item_div #summary_div h2{
    font-size: 20px;
    margin-left: 10px;
}

#prod_item_div #summary_item_div a{
    clear: both;
    padding: 8px;
    border-radius: 10px;
    background: black;
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
#prod_item_div #summary_item_div a:hover{
    background: gold;
    color:black;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
}

#prod_item_div #summary_item_div{
    clear: both;
}




#prod_item_div #prod_image{
    height: 100%;
    position: relative;
    float: left;
    margin-right: 16px;
}

#prod_item_div #prod_desc{
    height: 100%;
    width: 50%;
    float: left;
}

#prod_item_div #prod_desc h1{
    font-size: 18px;
}
#prod_item_div #prod_desc h2{
    font-size: 14px;
    margin-right: 10px;
}

#prod_item_div a{    
    cursor: pointer;
}

#prod_item_div a img{
    margin: 2px;
    float: right;
    height: 40px;
    background: darkgrey;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

#prod_item_div a img:hover{
    height: 38px;
    background: black;
    border-radius: 50px;
    transition: all .2s ease-in-out;
}
