body{
    overflow: hidden;
    background:#1a1a1a;
    margin: 0;    
}

@font-face{
    font-family: 'SystemFont_Header';
    src: url('../fonts/Karla-Regular.ttf')  format('truetype');
}


#header{
    background: rgba(255, 255, 255, 0.92);
    transition: all .5s ease-in-out;
    position: fixed;
    width: 100%;
    height: 80px;
    transition: all .2s ease-in-out;
}
#header #header_logo:before{
    content: "";
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#header #header_logo{
    position: fixed;
}
#header #header_logo img{
    width: auto;
    height: 60px;
    margin-left: 16px;
}

#header #nav_header{
    transition: all .2s ease-in-out;
    margin: 10px;
    font-size: 18px;
    font-family: 'SystemFont_Header';
}


#header #nav_header a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 16px;
    transition: all .3s ease-in-out;
}


#header #nav_header a:hover{
    color: darkgray;
    transition: all .2s ease-in-out;
}

/*
#nav:hover{
width: 15%;
transition: all .3s ease-in;
}


#nav:hover #navholder a{
-webkit-animation:fading .5s;
animation:fading .5s;
opacity: 1;
}
*/

#con {
    background:lightgrey;
    width: 100%;
    margin-left: 2.3%;
    height: 100%;
    float: right;
    transition: all .3s ease-in-out;
    overflow-y: auto;    
    padding-top:100px;
    padding-bottom: 100px;
}
form{    
    text-align: center;
    font-family: 'SystemFont_Header';
    padding: 16px;
    margin-bottom: 50px;
}

form fieldset{    
    margin-left: 20%;
    margin-right: 20%;
    padding: 16px;
    min-width: 500px;
    border-radius: 5px;
    background: white;
    border-style: none;
    margin-bottom: 16px;
    box-shadow: none;
}

form fieldset h1{
    font-size: 20px;
}

form input{
    border-radius: 5px;
    padding: 3px;
    font-size: 16px;
    border-color:lightgrey;
    margin-left: 10px;
    border-style: solid;
}

form #button{
    float: left;
    margin: 8px;
    text-decoration: none;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: black;
    border-style: none;
    border-color: black;
    transition: all .3s ease-in-out;
}

form #button_val{    
    margin: 8px;
    text-decoration: none;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: black;
    border-style: none;
    border-color: black;
    transition: all .3s ease-in-out;
}
form #button_val:hover{
    border-radius: 20px;
    transition: all .3s ease-in-out;
    color: black;
    border-color: yellow;
    background: yellow;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
}
form #button:hover{
    border-radius: 20px;
    transition: all .3s ease-in-out;
    color: black;
    border-color: yellow;
    background: yellow;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

form p{
    float: left;
    margin: 32px;    
}

form #data_pair{        
    clear: both;
}
@media screen and (max-width: 500px) {
    form fieldset{
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        padding: 16px;
        width: 100%;
        background: white;
        border-style: none;
        margin-bottom: 16px;
        box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
    }
   form{
        text-align: left;
        font-family: 'SystemFont_Header';
        margin-top:100px;
        width: 100%;
        padding: 0;
    }
    form fieldset h1{
        font-size: 20px;
    }
}


