::-webkit-scrollbar{
    display: none;
}

body{
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}
/* background:#ededed; */
#con {
    width: 100%;
    height:100%;
    float: left;
    font-size: 32px;
    margin: 0;
}


@font-face{
    font-family: 'SystemFont_Header';
    src: url('../fonts/Karla-Regular.ttf') format('truetype');
}


#con #homepage{
    width: 100%;
    height:auto;
    clear: both;
    margin-bottom: 16px;
}

#con #homepage #background{
    width: 100%;
    min-height: 400px;
    max-height: 100%;
    transition: all .3s ease-in-out;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 500px) {

    #con #homepage #background{
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #con #content_container{
        background: white;
    }

    #row{
        background: white;
        height: 100%;
    }

    #row_sale{
        margin-top: 20px;
    }

}


#slideshow{
    position: fixed;
    z-index: -3;
}

#con #homepage #foreground{
    position: absolute;
}

#con #homepage #foreground img{
    width: 50%;
    height: auto;
    z-index: 0;
    position: relative;
}
#con #homepage #foreground #nav_header{
    width: 80%;
    height: auto;
    z-index: 0 ;
    color: white;
    font-family: 'SystemFont_Header';
    padding-left: 48px;
    position: relative;
}
#con #homepage #foreground #nav_header a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 24px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}


#con #homepage #foreground #nav_header a:hover{
    background-color: 282829;
    padding: 5px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

#bottom{
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 15px;
    padding: 20px;
    background: darkgrey;
    margin-bottom: 10px;
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 10px;    
    transition: all .3s ease-out;
    position: fixed;
}

#con #content_container{
    background: white;
    overflow-y: hidden;
    min-height: 100px;
    padding-bottom: 50px;
}

#row + #row_sale{
    z-index: 3;
    background: white;
    height: 60%;
}

#first_row{
    margin-top: 120px;
}

#row h1{
    padding-top: 32px;
    clear: both;
    width: 100%;
}

#bottom:hover{
    margin: 15px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 100px;    
    transition: all .3s ease-in;
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.1);
}

/*#row{
margin: 10px;
}*/

#bottom a{
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    color: white;
}

#bottom a img{
    height: 100%;
}

#con #container{    
    border-radius: 5px;
    height: 300px;
    width: 300px;
    max-width: 100%;
    max-height: auto;
    float:  left;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}

#con #container_brands{
    border-radius: 5px;
    height: 100px;
    width: auto;
    max-width: auto;
    max-height: auto;
    float:  left;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 32px;
    transition: all .3s ease-in-out;
}
#container_brands:not(:nth-child(1)){
    float:left;
    margin-left: 20px;
}

#con #container_brands img{
    cursor: pointer;
    border-radius: 2px;
    max-width: 100%;
    max-height: auto;
    min-width: 20%;
    min-height: auto;
    width: auto;
    height: 100%;
    transition: all .3s ease-in-out;
}
#con #container_brands img:hover{
    border-radius: 5px;
    max-width: 100%;
    max-height: auto;
    min-width: 20%;
    min-height: auto;
    width: auto;
    height: 100%;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    transition: all .3s ease-in-out;
}

#con h1{
    font-family: 'SystemFont_Header';
    font-size: 32px;
    width: 100%;
    text-align: center;
    transition: all .1s ease-in-out;
}


#con #container:hover{
    box-shadow: 0px 12px 12px .5px rgba(0, 0, 0, 0.2);
    /*box-shadow:  0 64px 64px rgba(0, 0, 0, .15); */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    transition: all .3s ease-in-out;
}
#con #container:hover img{
    opacity: 0.7;
    z-index: -1;
    transition: all .3s ease-in-out;
}
#con #container:hover #info{    
    z-index: 3;
    transition: all .3s ease-in-out;
}


#container:not(:nth-child(1)){
    float:left;
    margin-left: 16px;
}


#con #container #info{    
    z-index: 3;
    opacity: 1;
    margin:16px;
    position: absolute;
}

#con #container #info strike , price{
    font-family: 'SystemFont_Header';
    color: gray;
    font-size: 16px;
    width: 100%;
    float: left;
}
#con #container #info price{
    color: black;
    margin-bottom: 16px;
    font-size: 20px;
}



#con #container #info h2{
    -webkit-animation:fading 3s;
    animation:fading 3s;
    color: black;
    font-family: sans-serif;
    min-width: 20%;
    text-align: left;
    font-size: 16px;
    width: 70%;
    min-height: auto;    
    margin-bottom: 24px;    
}

#con #container #info a{          
    cursor: pointer;
    animation:fading 3s;
    padding: 12px;
    border-radius: 15px;
    background: black;
    text-decoration: none;
    color:white;
    font-family: 'SystemFont_Header';
    font-size: 16px;
    transition: all .4s ease-in-out;
}

#con #container #info a:hover{
    background: gold;
    color:black;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
}


#con #container img{
    z-index: 1;
    object-fit: cover;
    border-radius: 2px;    
    /*max-width: 350px;
    max-height: auto;
    min-width: 20%;
    min-height: auto;*/
    width: inherit;
    height: 100%;    
    transition: all .3s ease-in-out;
}
@-webkit-keyframes fading{
    0%{
        opacity:0
    }
    20%{
        opacity:1
    }
}

@keyframes fading{
    0%{
        opacity:0
    }20%{
        opacity:1
    }
}

.fade {
    opacity: 1;
}

#footer {
    padding-left: 16px;
    width: 100%;
    height: 10%;
    min-height: 30px;
    background-color: 282829;
    clear: both;
}
#footer a{
    margin:16px;
    float: left;
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

#footer img{
    height:100%;
    width:auto;
    float:left;
    float: left;
}


@media screen and (max-width: 500px){
    #con #homepage #background{
        width: 100%;
        height: 200px;
        transition: all .3s ease-in-out;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: 282829;
    }

    #con #homepage{
        width: 100%;
        height: 200px;
        transition: all .3s ease-in-out;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #con #homepage #foreground #nav_header a{
        text-decoration: none;
        color: white;
        cursor: pointer;
        margin: 5px;
        border-radius: 0;
        transition: all .2s ease-in-out;
    }


    #con #homepage #foreground #nav_header a:hover{
        color: gold;
        margin: 5px;
        border-radius: 0;
        background: none;
        transition: all .2s ease-in-out;
    }

    #slideshow{
        display: none;
    }
    #con #content_container{
        width: 100%;
        text-align: center;
        padding: 16px;
    }
    #con #container img{
        width: 100%;
        height: auto;
        transition: all .3s ease-in-out;
    }


    #con #container{
        float: none;
        width: 90%;
        height: auto;
        padding: 0;
        margin-left: 0;
    }

    #con #container #info{
        text-align: left;
    }

    #con #container:hover{

        padding: 0;
        width: 90%;
        height: auto;
        box-shadow: 0px 9px 10px 2px rgba(0, 0, 0, 0);
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        transition: all .3s ease-in-out;
    }

    #con #container_brands img{
        width: inherit;
        height: auto;
    }
    #con #container_brands img:hover{
        width: inherit;
        height: auto;
    }
    #con #container_brands{
        display: inline-block;
        width: 85%;
        height: auto;
    }
    #con #container_brands:hover{
        height: auto;

        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        transition: all .3s ease-in-out;
    }

}
