#external{
    background: white;
}
#prod_con_div{
    margin-top:32px;
    height: 100%;
    transition: all .2s ease-in-out;
    cursor: default;
    padding-top: 100px;    
}

#con{
    display: hidden;    
    overflow-y: auto;
    overflow-x: hidden;
    background: white;          
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


#prod_brand_div{
    float: left;
    width: 100%;
    margin-bottom: 16px;
}

#prod_brand_div img{
    margin-left: 32px;
    float: left;
}

#prod_name{
    float: left;
    font-family: sans-serif;
    margin: 36px;
}

#prod_image_list{
    float: left;
    overflow-y: auto;
    position: relative;
    width: 10%;
    min-width: 150px;
}
#prod_image_list li{
    list-style: none;
}
#prod_image_list img{
    width: 100%;
    transition: all .2s ease-in-out;
}
#prod_image_list img:hover{
    opacity: 0.7;
    transition: all .2s ease-in-out;
}

#prod_image_list a:hover{
    cursor: pointer;
}

#prod_img{
    margin-left: 16px;
    float: left;
    height: 60%;
    max-height: 800px;
    width: auto;
    position:relative;
}
#prod_brand{
    height: 100px;
}

#prod_desc_div{
    width: 30%;
    min-width: 250px;
    margin-left: 32px;
    margin-bottom: 32px;
    float: left;
}

#prod_desc_div #prod_desc{
    font-family: sans-serif;
    font-size: 18px;
}
#prod_desc_div #prod_stock{
    font-family: sans-serif;
    font-size: 20px;
}

#prod_desc_div #prod_price{
    font-family: sans-serif;
    font-size: 32px;
}

#prod_desc_div a{
    cursor: pointer;
    animation:fading 3s;
    padding: 12px;
    border-radius: 15px;
    background: black;
    text-decoration: none;
    color:white;
    font-family: 'SystemFont_Header';
    font-size: 16px;
    transition: all .4s ease-in-out;
}

#prod_desc_div a:hover{
    background: gold;
    color:black;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
}

#prod_desc_div h3{
    float: left;
    margin: 16px;
    font-family: 'SystemFont_Header';
    font-size: 16px;
}

#size_select{
    font-family: 'SystemFont_Header';
    width: 30%;
    margin-right: 16px;
    margin-bottom: 32px;
    height: 40px;
    font-size: 20px;
    background: black;
    color: white;
    border-radius: 2px;
    padding: 3px;
    transition:all .3s ease-in-out;
    overflow-y: auto;
}


#size_select option:hover{
    background: white;
    color: black;
    transition: all .3s ease-in-out;
}

.modal{
    opacity: 0;
    padding-top: 10;
    width: 100%;
    height: 100%;    
    position: fixed;
    z-index: 3;
    background: rgba(73, 73, 73, 0.5);  
    transition: all 1s ease-out;
}

/*.modal:after{    
    background: rgba(73, 73, 73, 0.1);  
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0.9;
}*/
.modal-content {            
    background-color: #fefefe;
    margin: 100;
    padding: 20px;
    box-shadow: 0px 4px 5px 2.50px rgba(0, 0, 0, 0.1);    
    border-radius: 5px;
    width: 80%;    
    transition: all .5s ease-in-out;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px){
    #prod_con_div{                
        text-align: center;
        width: 100%;          
    }
    #prod_img{
        width: 70%;        
        max-width: 450px;
        float: left;
        height: auto;        
    }

    #prod_image_list{
        width: 90%;
        margin-bottom: 16px;
    }

    #prod_image_list li{
        list-style-type: none;
        float: left;
        width: 30%;
        margin: 3px;
    }

    #prod_desc{
        text-align: left;        
    }

}
form{    
    text-align: center;
    font-family: 'SystemFont_Header';
    padding: 16px;
    margin-bottom: 50px;
}

form fieldset{    
    margin-left: 20%;
    margin-right: 20%;
    padding: 16px;
    min-width: 500px;
    border-radius: 5px;
    background: white;
    border-style: none;
    margin-bottom: 16px;
    box-shadow: none;
}

form fieldset h1{
    font-size: 20px;
}

form input{
    border-radius: 5px;
    padding: 3px;
    font-size: 16px;
    border-color:lightgrey;
    margin-left: 10px;
    border-style: solid;
}

form #button{
    float: left;
    margin: 8px;
    text-decoration: none;
    border-radius: 10px;
    background: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: white;
    background: black;
    border-style: none;
    border-color: black;
    transition: all .3s ease-in-out;
}

form #button:hover{
    border-radius: 20px;
    transition: all .3s ease-in-out;
    color: black;
    border-color: yellow;
    background: yellow;
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

form p{
    float: left;
    margin: 32px;    
}

form #data_pair{        
    clear: both;
}
@media screen and (max-width: 500px) {
    form fieldset{
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        padding: 16px;
        width: 100%;
        background: white;
        border-style: none;
        margin-bottom: 16px;
        box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
    }
   form{
        text-align: left;
        font-family: 'SystemFont_Header';
        margin-top:100px;
        width: 100%;
        padding: 0;
    }
    form fieldset h1{
        font-size: 20px;
    }
}
